.WeatherWidget {
    text-align: center;
}


.Selection{
    font-size:  1.1rem;
    text-align: center;
}


.City{
    font-size:  3rem ;

}

.CurrentTemp {
    font-size:  2rem;
    text-align: end;
}