.WeatherWidget {
    text-align: center;
}

.WeatherWidget -logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .WeatherWidget -logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.WeatherWidget-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.WeatherWidget-link {
    color: #61dafb;
}

.Selection{
    font-size:  18px;
    text-align: center;
}


.City{
    font-size:  xxx-large ;

}

